/******COMMUN ********/
button[type="submit"] {
    background: rgb(0, 119, 255);
    border: 20px;
    padding: 10px 10px;
    color: #fff;
    transition: 0.4s;
    text-align: center;
}

button[type="submit"]:hover {
    background: #78cbec;
}



p,
.text {
    font-family: 'Raleway', sans-serif !important;

}

.bi {
    color: rgb(0, 119, 255) ! important;
}

/******FORM *****/

label {
    font-weight: 600;
}

.required::after {
    content: ' *';
    color: red;
}


/********* Navbar **********/

.navbar a {
    font-size: large;
}


.navbar-brand {
    font-size: 30px !important;
}


.navbar-brand-md .navbar-collapse {
    letter-spacing: 1pt;
    display: flex;
    flex-direction: row-reverse !important;
}

.navbar-brand:hover {
    transform: rotate(-2deg);
}